.base {
	height: 40px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	user-select: none;
	cursor: pointer;

	font-family: var(--default-font-family);
	font-style: normal;
	text-align: center;

	padding: 0 16px;
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-grey-blue);
	border: 1px solid var(--me-color-bg-grey-blue);
	border-radius: 8px;

	&:hover {
		background-color: var(--me-color-bg-grey-blue-dark);
	}

	&:focus-visible {
		outline: 2px solid var(--me-color-focus-outline);
	}

	&:where([data-visible-from="xs"]) {
		@media (--lt-xs) {
			display: none;
		}
	}
}

.link {
	composes: base;
	text-decoration: none;
}

.outline {
	composes: link;
	border: 1px solid var(--me-color-border-dark);
	background: var(--me-color-bg-dark);

	&:hover {
		background-color: var(--me-color-bg-grey-blue);
	}
}
