.trigger {
	min-width: 192px;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-left: 16px;
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-grey-blue);
	border: 1px solid var(--me-color-bg-grey-blue);
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		background-color: var(--me-color-bg-grey-blue-dark);
	}

	&:focus-visible {
		outline: 2px solid var(--mantine-color-blue-outline);
	}

	&:where([data-left="true"]) {
		padding-left: 6px;

		div {
			display: flex;
			align-items: center;
			gap: 4px;
		}
	}

	svg {
		color: var(--me-color-text-disabled);
		height: 15px;
	}

	@media (--lt-xs) {
		width: 100%;
		margin: 4px 0;
	}
}

.dropdown {
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-grey-blue);
	border: 0;
	border-radius: 8px;
	padding: 0;

	z-index: 1000;

	@media (--lt-xs) {
		width: calc(100vw - 48px);
		margin: 4px 0;
	}
}

.separator {
	border-bottom: 1px solid transparent;
	border-bottom-color: var(--me-color-text-grey);
}

.option {
	min-width: 192px;

	padding: 8px 16px;
	border-radius: 0px;
	border-bottom: 1px solid transparent;
	cursor: pointer;

	&:first-child {
		border-radius: 8px 8px 0 0;
	}

	&:last-child {
		border-radius: 0 0 8px 8px;
	}

	&:hover {
		background-color: var(--me-color-bg-grey-blue-dark);
	}

	&:focus-visible {
		outline: 2px solid var(--me-color-focus-outline);
	}

	&[data-state="checked"] {
		color: var(--me-color-logo-green);
		font-weight: 600;
	}
}
