.wrapper {
	width: 470px;
	padding: 8px;

	h2 {
		margin: 0;
	}
}

.input {
	width: 100%;
	height: 40px;
	padding: 0 16px;
	color: var(--me-color-text-dark);

	border: 1px solid var(--me-color-border-light);
	border-radius: 8px;
}

.submit {
	composes: button from global;
	width: 100%;
	justify-content: space-between;

	margin-top: 24px;

	&[data-danger="true"] {
		background-color: var(--me-color-bg-red-danger);
		border: 1px solid var(--me-color-bg-red-danger);

		&:hover {
			background-color: var(--me-color-bg-red-danger-dark);
		}
	}
}
