.panel {
	padding: 16px;

	border: 1px solid var(--me-color-border-muted);
	border-radius: 8px;

	p {
		font-size: 15px;
	}

	div {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	span {
		font-family: "Reddit Mono Variable";
		font-size: 15px;
		font-weight: 500;
	}
}
