.panel {
	padding: 16px;

	border: 1px solid var(--me-color-border-muted);
	border-radius: 8px;

	p {
		font-size: 15px;
	}

	div {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	span {
		font-size: 15px;
		font-weight: 500;
	}
}

.group {
	composes: group from global;
	margin-top: 20px;
}

.progress {
	position: relative;
	overflow: hidden;

	height: 16px;

	background: var(--me-color-bg-grey-dark);
	border-radius: 4px;

	/* Fix overflow clipping in Safari */
	/* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
	transform: translateZ(0);
}

.indicator {
	background-color: var(--me-color-border-violet);
	width: 100%;
	height: 100%;

	transition: transform 100ms cubic-bezier(0.65, 0, 0.35, 1);
}
