.wrapper {
	width: 100%;
	padding: 32px 24px 8px 24px;
	background-color: var(--me-color-bg-light);

	border-radius: 8px 8px 0 0;

	display: flex;
	flex-direction: row;
	align-items: stretch;

	@media (--lt-lg) {
		flex-direction: column;
	}
}

.sectionWrapper {
	width: 100%;
	padding: 32px 24px;
	background-color: var(--me-color-bg-light);

	border-radius: 8px;
}

.title {
	padding: 0 8px;
	flex: 1;

	h3 {
		font-weight: 600;
		font-size: 18px;
	}

	p {
		font-size: 14px;
		font-weight: 400px;
	}
}

.form {
	composes: flex from global;

	padding: 0 8px 8px 8px;
	flex: 1;
	gap: 4px;
}

.divider {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 15px 24px;

	background-color: var(--me-color-bg-light);
	border-radius: 0 0 8px 8px;

	p {
		padding: 8px;
		font-size: 14px;
		font-weight: 400px;
	}

	@media (--lt-xs) {
		padding: 0 16px 15px 16px;
	}
}

.submit {
	composes: button from global;
}

.delete {
	composes: submit;
	background-color: var(--me-color-bg-red-danger);
	border: 1px solid var(--me-color-bg-red-danger);
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		background-color: var(--me-color-bg-red-danger-dark);
	}
}
