.wrapper {
	composes: flex from global;

	width: 250px;
	height: 100%;
	padding: 8px;
	gap: 8px;

	background-color: var(--me-color-bg-light);

	border-radius: 8px;

	a {
		padding: 10px 16px;
		align-items: center;

		border-radius: 8px;

		font-size: 14px;

		text-decoration: none;

		&:hover {
			background-color: var(--me-color-bg-grey);
		}

		&:visited {
			color: var(--me-color-text-dark);
		}

		&[data-active="true"] {
			background-color: var(--me-color-bg-grey);
			font-weight: 600;
		}
	}

	@media (--lt-md) {
		width: 100%;
	}
}
