.wrapper {
	composes: flex from global;

	width: 250px;
	height: 100%;
	padding: 8px;
	gap: 8px;

	color: var(--text-dark);
	background-color: var(--bg-light);

	border-radius: 8px;

	a {
		padding: 10px 16px;
		align-items: center;

		border-radius: 8px;

		color: var(--text-dark);
		font-size: 14px;

		text-decoration: none;

		&:hover {
			background-color: var(--bg-grey);
		}

		&:visited {
			color: var(--text-dark);
		}

		&[data-active="true"] {
			background-color: var(--bg-grey);
			font-weight: 600;
		}
	}

	@media (--lt-md) {
		width: 100%;
	}
}
