.trigger {
	composes: button from global;

	min-width: 192px;
	height: 40px;
	padding: 0 12px 0 16px;

	background-color: var(--bg-light);
	color: var(--text-dark);
	border: 1px solid var(--border-light);
	border-radius: 8px;

	flex-wrap: 1;
	justify-content: space-between;
	gap: 8px;

	&:hover {
		background-color: var(--bg-light);
	}

	@media (--lt-xs) {
		width: 100%;
		margin: 4px 0 16px 0;
	}
}

.label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown {
	height: 100%;
	width: var(--radix-dropdown-menu-trigger-width);

	background-color: white;
	border: 1px solid var(--border-muted);
	border-radius: 8px;

	&[data-scroll="true"] {
		height: 180px;
	}
}

.item {
	composes: button from global;

	padding: 7px 14px;
	height: fit-content;
	width: 100%;
	text-align: left;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;

	color: var(--text-dark);
	background-color: white;

	border: none;
	border-radius: 8px;

	&:focus-visible {
		background-color: var(--black-a1);
		border-radius: 0;
		outline: none;
	}

	&:hover {
		background-color: var(--black-a1);
		border-radius: 0;
	}

	&[data-active="true"] {
		background-color: var(--black-a2);
		font-weight: 600;
	}
}

.itemIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	flex-shrink: 0;

	color: var(--logo-green);

	svg {
		width: 14px;
		height: 14px;
	}
}

.itemLabel {
	flex: 1;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
