.root {
	padding-top: 30vh;
}

.label {
	text-align: center;
	font-weight: 900;
	font-size: 38px;
	line-height: 1;
	margin-bottom: 4px;
	color: var(--border-light);

	@media (--lt-sm) {
		font-size: 32px;
	}
}

.description {
	max-width: 500px;
	margin: auto;
	margin-bottom: 30px;
}

.title {
	text-align: center;
	font-weight: 900;
	font-size: 38px;

	@media (--lt-sm) {
		margin: 12px 0;
		font-size: 28px;
		line-height: 1.4;
	}
}

.anchor {
	color: var(--text-muted);
	text-decoration: underline;

	&:hover,
	&:focus {
		color: var(--text-dark);
	}
}
