.root {
	padding-top: 30vh;
}

.label {
	text-align: center;
	font-weight: 900;
	font-size: rem(38px);
	line-height: 1;
	margin-bottom: var(--mantine-spacing-xs);
	color: var(--border-light);

	@media (--lt-sm) {
		font-size: rem(32px);
	}
}

.description {
	max-width: rem(500px);
	margin: auto;
	margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
}

.title {
	text-align: center;
	font-weight: 900;
	font-size: rem(38px);

	@media (--lt-sm) {
		font-size: rem(32px);
	}
}

.anchor {
	color: var(--text-muted);
	text-decoration: underline;

	&:hover,
	&:focus {
		color: var(--text-dark);
	}
}
