.footer {
	margin-top: auto;
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-dark);
}

.inner {
	height: 72px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 120px;

	display: flex;
	justify-content: space-between;
}
