.header {
	color: var(--text-light);
	background-color: var(--bg-dark);
	border-bottom: 1px solid var(--border-dark);
}

.inner {
	height: 72px;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 120px;

	@media (--lt-sm) {
		padding: 0 40px;
	}

	@media (--lt-xs) {
		padding: 0 24px;
	}
}

.login {
	composes: button from global;

	@media (--lt-xs) {
		margin: 0 auto;
		margin-top: 40px;

		font-size: 16px;
		padding: 22px 20px !important;
	}
}

.link {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	color: var(--text-light);

	&[data-active="true"] {
		font-weight: 600;
	}

	&[data-active="true"]::after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
		height: 2px;
		border-bottom: 2px solid var(--logo-green);
		border-radius: 8px;
	}

	@media (--lt-xs) {
		font-size: 20px;
		padding: 22px 24px;

		border-bottom: 1px solid var(--border-dark);

		&:hover {
			font-weight: 600;
		}

		&[data-active="true"]::after {
			bottom: initial;
			left: initial;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);
			width: 2px;
			height: 40%;
			border-bottom: initial;
			border-right: 2px solid var(--logo-green);
			border-radius: 8px;
		}
	}
}

.burger {
	--burger-color: var(--text-light);

	@media (--gt-xs) {
		display: none;
	}
}

.drawerBody {
	padding: 4px 0 0 0;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.drawer {
	margin-top: 72px;
	height: 100%;
	color: var(--text-light);
	background-color: var(--bg-dark);

	border-top: 1px solid var(--border-dark);

	@media (--gt-xs) {
		display: none;
	}
}
