.header {
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-dark);

	border-bottom: 1px solid var(--me-color-border-nav-grey);
}

.inner {
	height: 72px;
	width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 120px;
}

.text {
	font-size: rem(24px);
	font-weight: 600;
	color: var(--me-color-text-light);
}

.link {
	font-size: 14px;
	font-weight: 400;
	color: var(--me-color-text-light);
	position: relative;

	&[data-active="true"] {
		font-weight: 600;
	}

	&[data-active="true"]::after {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -20px;
		height: 2px;
		width: 60%;
		border-radius: 8px;
		border-bottom: 2px solid var(--me-color-logo-green);
	}
}
