.target {
	width: 100%;
	height: 40px;
	padding: 0 24px 0 16px;
	color: var(--me-color-text-dark);

	border: 1px solid var(--me-color-border-light);
	border-radius: 8px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		background-color: var(--me-color-bg-grey);
	}
}
