.wrapper {
	margin: 0 auto;
	padding: 32px;

	width: 380px;
	justify-content: center;

	border-radius: 8px;

	@media (--lt-xs) {
		width: 100%;
	}
}

.title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 12px;
}

.submit {
	composes: button from global;

	width: 100%;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 14px;

	margin-top: 24px;
	padding: 0 16px;
	color: var(--me-color-text-light);

	background-color: var(--teal);

	border: 1px solid var(--teal-11);
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		background-color: var(--teal-10);
	}

	span {
		font-size: 14px;
	}

	@media (--lt-xs) {
		p {
			display: none;
		}
	}
}
