.button {
	height: 40px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	user-select: none;
	cursor: pointer;

	font-family: var(--default-font-family);
	font-style: normal;
	text-align: center;

	padding: 0 16px;
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-grey-blue);
	border: 1px solid var(--me-color-bg-grey-blue);
	border-radius: 8px;

	text-decoration: none;

	&:hover {
		background-color: var(--black-a12);
	}

	&:focus-visible {
		outline: 2px solid var(--me-color-focus-outline);
	}

	&:visited {
		color: var(--me-color-text-light);
	}

	&:where([data-visible-from="xs"]) {
		@media (--lt-xs) {
			display: none;
		}
	}
}

.button-outline {
	border: 1px solid var(--me-color-border-dark);
	background: var(--me-color-bg-dark);

	&:hover {
		background-color: var(--me-color-bg-grey-blue);
	}
}

.button-icon {
	position: relative;
	padding: 8px;

	color: var(--me-color-text-dark);
	background-color: var(--me-color-bg-light);
	border: 0;
	cursor: pointer;

	svg {
		height: 20px;
	}

	&:hover {
		background-color: var(--me-color-selected-snow);
	}
}
