:root {
	/* Text Colors */
	--text-light: #fcfcfc;
	--text-dark: #111111;
	--text-disabled: #8e9cb4;
	--text-grey: #39414e;
	--text-muted: #7e8c94;

	/* Background Colors */
	--bg-light: #fcfdfe;
	--bg-grey: #f3f3f3;
	--bg-grey-dark: #e9ecef;
	--bg-grey-disabled: #f1f3f5;
	--bg-dark: #111111;
	--bg-grey-blue: #262a31;
	--bg-grey-blue-dark: #1b1e24;
	--bg-red-danger: #eb5757;
	--bg-red-danger-dark: #c53030;

	/* Selected Colors */
	--selected-light: #e8e7e7;
	--selected-snow: #eff2f7;
	--focus-outline: #228be6;

	/* Border Colors */
	--border-light: #cad4e3;
	--border-dark: #39414e;
	--border-muted: #d3dce6;

	/* Logo Color */
	--logo-green: #17cd8c;
	--badge-positive: #dfffb7;
	--badge-negative: #ffd5b7;

	--black-a1: color(display-p3 0 0 0 / 0.05); /* rgba(0, 0, 0, 0.05); */
	--black-a2: color(display-p3 0 0 0 / 0.1); /* rgba(0, 0, 0, 0.1); */
	--black-a3: color(display-p3 0 0 0 / 0.15); /* rgba(0, 0, 0, 0.15); */
	--black-a4: color(display-p3 0 0 0 / 0.2); /* rgba(0, 0, 0, 0.2); */
	--black-a5: color(display-p3 0 0 0 / 0.3); /* rgba(0, 0, 0, 0.3); */
	--black-a6: color(display-p3 0 0 0 / 0.4); /* rgba(0, 0, 0, 0.4); */
	--black-a7: color(display-p3 0 0 0 / 0.5); /* rgba(0, 0, 0, 0.5); */
	--black-a8: color(display-p3 0 0 0 / 0.6); /* rgba(0, 0, 0, 0.6); */
	/* --black-a9: color(display-p3 0 0 0 / 0.7); /* rgba(0, 0, 0, 0.7); */
	--black-a10: color(display-p3 0 0 0 / 0.8); /* rgba(0, 0, 0, 0.8); */
	--black-a11: color(display-p3 0 0 0 / 0.9); /* rgba(0, 0, 0, 0.9); */
	--black-a12: color(display-p3 0 0 0 / 0.95); /* rgba(0, 0, 0, 0.95);*/

	--teal: #108c6e;
	/*--teal-1: oklch(99.4% 0.004 170.2);
	--teal-2: oklch(98.1% 0.008 170.2);
	--teal-3: oklch(96% 0.021 170.2);
	--teal-4: oklch(93.4% 0.032 170.2);
	--teal-5: oklch(90.1% 0.043 170.2);
	--teal-6: oklch(85.8% 0.053 170.2);
	--teal-7: oklch(79.9% 0.067 170.2);
	--teal-8: oklch(72.1% 0.087 170.2);
	--teal-9: oklch(57.1% 0.109 170.2); */
	--teal-10: oklch(52.6% 0.109 170.2);
	--teal-11: oklch(52.9% 0.109 170.2);
	/* --teal-12: oklch(32.6% 0.039 170.2); */

	/* --teal-a1: color(display-p3 0.024 0.675 0.349 / 0.012); /* #00c08004 */
	/* --teal-a2: color(display-p3 0.024 0.612 0.318 / 0.04); /* #00a35d0b */
	/* --teal-a3: color(display-p3 0.012 0.616 0.357 / 0.091); /* #00b16c1a */
	/*--teal-a4: color(display-p3 0.008 0.6 0.357 / 0.146); /* #00aa682a */
	/* --teal-a5: color(display-p3 0.004 0.549 0.322 / 0.208); /* #009e623c */
	/*--teal-a6: color(display-p3 0.004 0.502 0.294 / 0.283); /* #00915c51 */
	--teal-a7: color(display-p3 0.004 0.455 0.271 / 0.381); /* #0088576d */
	/* --teal-a8: color(display-p3 0 0.439 0.267 / 0.518); /* #00865a97 */
	/*--teal-a9: color(display-p3 0 0.388 0.251 / 0.75); /* #008464ef */
	/*--teal-a10: color(display-p3 0 0.349 0.224 / 0.789); /* #007e61 */
	/*--teal-a11: color(display-p3 0 0.349 0.224 / 0.785); /* #007f62 */
	/*--teal-a12: color(display-p3 0 0.098 0.059 / 0.855); /* #002116e1 */

	/* --teal-indicator: var(--teal-9); */

	--violet: #9d5def;
	/* --violet-1: oklch(99.3% 0.004 300.5);
	--violet-2: oklch(98.2% 0.011 300.5);
	--violet-3: oklch(95.9% 0.028 300.5);
	--violet-4: oklch(93.3% 0.045 300.5);
	--violet-5: oklch(90.1% 0.062 300.5);
	--violet-6: oklch(86% 0.082 300.5);
	--violet-7: oklch(80.4% 0.107 300.5);
	--violet-8: oklch(73.4% 0.141 300.5); */
	--violet-9: oklch(62% 0.211 300.5);
	--violet-10: oklch(57.8% 0.211 300.5);
	--violet-11: oklch(51.6% 0.2 300.5);
	/* --violet-12: oklch(32.3% 0.128 300.5); */

	/* --violet-a1: color(display-p3 0.349 0.024 1 / 0.012); /*  #5500ff03 */
	/* --violet-a2: color(display-p3 0.302 0.024 0.863 / 0.028); /*  #4900ff07 */
	--violet-a3: color(display-p3 0.298 0.008 0.945 / 0.067); /*  #5a00ff11 */
	/* --violet-a4: color(display-p3 0.314 0.004 0.933 / 0.114); /*  #6100ff1d */
	/* --violet-a5: color(display-p3 0.271 0.004 0.929 / 0.161); /*  #5c00ff2a */
	/* --violet-a6: color(display-p3 0.282 0.004 0.933 / 0.224); /*  #5800ff3a */
	/* --violet-a7: color(display-p3 0.282 0.004 0.875 / 0.31); /*  #5700f050 */
	/* --violet-a8: color(display-p3 0.282 0.004 0.843 / 0.42); /*  #5800e66c */
	/* --violet-a9: color(display-p3 0.329 0 0.851 / 0.624); /*  #6500e6a2 */
	/* --violet-a10: color(display-p3 0.314 0 0.78 / 0.679); /*  #6000d4b0 */
	/* --violet-a11: color(display-p3 0.271 0 0.663 / 0.742); /*  #5300b3c0 */
	/* --violet-a12: color(display-p3 0.129 0 0.314 / 0.883); /*  #290057e3 */

	--violet-indicator: var(--violet-9);

	/* Theme Misc */
	--default-font-family: "Inter Variable", sans-serif;
	--default-monospace-font-family: "Reddit Mono Variable", monospace;

	/* Custom Media Breakpoints */
	@custom-media --gt-xs (min-width: 36em);
	@custom-media --gt-sm (min-width: 48em);
	@custom-media --gt-md (min-width: 62em);
	@custom-media --gt-lg (min-width: 75em);
	@custom-media --gt-xl (min-width: 88em);
	@custom-media --lt-xs (max-width: 36em);
	@custom-media --lt-sm (max-width: 48em);
	@custom-media --lt-md (max-width: 62em);
	@custom-media --lt-lg (max-width: 75em);
	@custom-media --lt-xl (max-width: 88em);
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;

	font-size: 14px;
	font-family: var(--default-font-family);
}

main {
	max-width: 1440px;
	width: 100%;

	margin: 0 auto;
	padding: 80px 120px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@media (--lt-sm) {
		padding: 80px 40px;
	}

	@media (--lt-xs) {
		padding: 80px 24px;
	}
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

span {
	line-height: 1;
}

p {
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 2;
}

/* StatsTable.tsx */
.mantine-datatable-empty-state-icon {
	background: none;
	padding: 0;
	margin-bottom: 0;
}
