:root {
	--me-color-text-light: #fcfcfc;
	--me-color-text-dark: #111111;
	--me-color-text-disabled: #8e9cb4;
	--me-color-text-grey: #39414e;

	--me-color-bg-grey: #f3f3f3;
	--me-color-bg-dark: #111111;

	--me-color-selected-grey: #e8e7e7;

	--me-color-border-grey: #cad4e3;
	--me-color-border-violet: #9d5def;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;

	font-size: 14px;
	line-height: 160%;
}

main {
	max-width: 1440px;
	width: 100%;

	margin: 0 auto;
	padding: 80px 120px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
