:root {
	/* Text Colors */
	--me-color-text-light: #fcfcfc;
	--me-color-text-dark: #111111;
	--me-color-text-disabled: #8e9cb4;
	--me-color-text-grey: #39414e;
	--me-color-text-muted: #7e8c94;

	/* Background Colors */
	--me-color-bg-light: #fcfdfe;
	--me-color-bg-grey: #f3f3f3;
	--me-color-bg-dark: #111111;
	--me-color-bg-grey-blue: #262a31;
	--me-color-bg-grey-blue-dark: #1b1e24;
	--me-color-bg-red-faded: rgba(255, 0, 0, 0.1);
	--me-color-bg-red-danger: #eb5757;
	--me-color-bg-red-danger-dark: #c53030;

	/* Selected Colors */
	--me-color-selected-light: #e8e7e7;
	--me-color-selected-snow: #eff2f7;

	/* Border Colors */
	--me-color-border-light: #cad4e3;
	--me-color-border-dark: #39414e;
	--me-color-border-muted: #d3dce6;
	--me-color-border-violet: #9d5def;

	/* Logo Color */
	--me-color-logo-green: #17cd8c;
	--me-color-logo-green-dark: #108c6e;
	--me-color-badge-positive: #dfffb7;
	--me-color-badge-negative: #ffd5b7;

	/* Theme Misc */
	--default-font-family: "Inter Variable", sans-serif;
	--default-monospace-font-family: "Reddit Mono Variable", monospace;

	/* Custom Media Breakpoints */
	@custom-media --gt-xs (min-width: 36em);
	@custom-media --gt-sm (min-width: 48em);
	@custom-media --gt-md (min-width: 62em);
	@custom-media --gt-lg (min-width: 75em);
	@custom-media --gt-xl (min-width: 88em);
	@custom-media --lt-xs (max-width: 36em);
	@custom-media --lt-sm (max-width: 48em);
	@custom-media --lt-md (max-width: 62em);
	@custom-media --lt-lg (max-width: 75em);
	@custom-media --lt-xl (max-width: 88em);
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;

	font-size: 14px;
	font-family: var(--default-font-family);
	line-height: 1.6;
}

main {
	max-width: 1440px;
	width: 100%;

	margin: 0 auto;
	padding: 80px 120px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@media (--lt-sm) {
		padding: 80px 40px;
	}

	@media (--lt-xs) {
		padding: 80px 24px;
	}
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

p,
span {
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 2;
}

/* StatsTable.tsx */
.mantine-datatable-empty-state-icon {
	background: none;
	padding: 0;
	margin-bottom: 0;
}
