name: Release Version
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ${{ matrix.runner }}
    container: ${{ matrix.container }}
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            arch: amd64
            container: quay.io/pypa/manylinux_2_28_x86_64
          - runner: ubuntu-24.04-arm
            arch: arm64
            container: quay.io/pypa/manylinux_2_28_aarch64
    steps:
      - name: Install git, curl, zip
        run: yum -y install git curl zip unzip

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Save GitHub tag and commit sha to environment
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "COMMIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build
        run: task core:release:linux:${{ matrix.arch }}

      - name: Create release directory
        run: mkdir -p release

      - name: Zip artifact
        run: zip -j release/medama-${{ env.VERSION }}-linux-${{ matrix.arch }}.zip ./core/bin/medama_linux_${{ matrix.arch }}

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: release-linux-${{ matrix.arch }}
          path: release/medama-${{ env.VERSION }}-linux-${{ matrix.arch }}.zip
          retention-days: 1
          if-no-files-found: error

  build-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        arch: [amd64, arm64]
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Save GitHub tag and commit sha to environment
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "COMMIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build
        run: task core:release:darwin:${{ matrix.arch }}

      - name: Create release directory
        run: mkdir -p release

      - name: Zip artifact
        run: zip -j release/medama-${{ env.VERSION }}-darwin-${{ matrix.arch }}.zip ./core/bin/medama_darwin_${{ matrix.arch }}

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: release-darwin-${{ matrix.arch }}
          path: release/medama-${{ env.VERSION }}-darwin-${{ matrix.arch }}.zip
          retention-days: 1
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-macos]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          pattern: release-*
          path: release
          merge-multiple: true

      - name: Create release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2
        with:
          files: release/*
          draft: true
          fail_on_unmatched_files: true
          generate_release_notes: true
