name: Tests
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths:
      - "core/**"

  push:
    branches: [main]
    paths:
      - "core/**"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Task
        uses: arduino/setup-task@v2

      - uses: actions/setup-go@v5
        with:
          go-version-file: core/go.mod
          cache: false

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Generate embeds
        run: task core:generate

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          working-directory: core
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: core

    steps:
      - uses: actions/checkout@v4

      - name: Install Task
        uses: arduino/setup-task@v2

      - uses: actions/setup-go@v5
        with:
          go-version-file: core/go.mod
          cache-dependency-path: core/go.sum

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Go dependencies
        run: go mod download

      - name: Install dashboard dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: task build

      - name: Test
        run: task test
