name: E2E Tracker Tests
on:
  push:
    branches: [main]
    paths:
      - "tracker/**"
  pull_request:
    branches: [main]
    paths:
      - "tracker/**"
  workflow_dispatch:
jobs:
  playwright:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Environment
        uses: ./.github/actions/setup-env
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Playwright with dependencies
        run: task test:setup
        working-directory: "./tracker"

      - name: Run Playwright tests
        run: task test
        working-directory: "./tracker"

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-${{ matrix.os }}
          path: ./tracker/playwright-report/
          retention-days: 30
