.target {
	min-width: 192px;
	height: 40px;
	padding-left: 32px;
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-grey-blue);
	border: 1px solid var(--me-color-bg-grey-blue);
	border-radius: 8px;

	&:hover {
		background-color: var(--me-color-bg-grey-blue-dark);
	}
}

.targetWrapper {
	@media (max-width: $mantine-breakpoint-xs) {
		width: 100%;
		margin: 4px 0 16px 0;
	}
}

.dropdown {
	color: var(--me-color-text-light);
	background-color: var(--me-color-bg-grey-blue);
	border: 0;
	border-radius: 8px;
	padding: 0;
}

.option {
	padding: 8px 16px;
	border-radius: 0px;
	border-bottom: 1px solid transparent;

	&:first-child {
		border-radius: 8px 8px 0 0;
	}

	&:last-child {
		border-radius: 0 0 8px 8px;
	}

	&:hover {
		background-color: var(--me-color-bg-grey-blue-dark);
	}

	&[data-combobox-active="true"] {
		color: var(--me-color-logo-green);
		font-weight: 600;
	}

	&[data-group-end="true"] {
		border-bottom-color: var(--me-color-text-grey);
	}
}
