.popover {
	padding: 16px 16px 12px 16px;
	gap: 16px;

	border: 1px solid var(--border-light);
	border-radius: 8px;
}

.select {
	margin: 16px -16px 0 -16px;
	padding: 12px 16px 0 16px;
	border-top: 1px solid var(--border-light);
}

.trigger {
	composes: button from global;

	width: 120px;
	height: 36px;
	padding: 0 10px 0 14px;
	justify-content: space-between;

	color: var(--text-dark);
	background-color: white;

	border: 1px solid var(--border-light);
	border-radius: 4px;

	&:hover {
		background-color: var(--text-light);
	}

	&:focus,
	&:focus-visible {
		outline: 1px solid var(--focus-outline);
		outline-offset: -1px;
	}

	svg {
		margin-left: 4px;
		color: var(--text-dark);
	}
}

.label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown {
	width: var(--radix-dropdown-menu-trigger-width);
	padding: 4px;

	background-color: white;

	border: 1px solid var(--border-light);
	border-radius: 4px;
}

.item {
	composes: button from global;

	padding: 4px 8px;
	height: fit-content;
	width: 100%;
	text-align: left;
	justify-content: flex-start;

	color: var(--text-dark);
	background-color: white;

	border: none;
	border-radius: 4px;

	&:hover {
		background-color: var(--black-a1);
	}
}

.cancel {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 80px;
	height: 40px;

	font-size: 14px;
	font-weight: 600;

	border: 1px solid var(--border-light);
	border-radius: 8px;
}

.filter-item {
	height: 40px;
	padding: 0 8px 0 16px;

	color: var(--text-grey);
	background-color: var(--selected-light);

	border-radius: 8px;

	cursor: default;
}

/* Buttons */
.add {
	width: 120px;
	height: 40px;

	color: var(--text-light);
	background-color: var(--teal);

	border-radius: 8px;
}

.apply {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 80px;
	height: 40px;

	font-size: 14px;
	font-weight: 600;

	color: var(--text-light);
	background-color: var(--logo-green);

	border-radius: 8px;
}
