.databox {
	height: 132px;
	width: 192px;
	padding: 12px 24px 24px 24px;
	position: relative;
	color: var(--me-color-text-disabled);
	border: 1px solid transparent;
	cursor: pointer;

	border-radius: 8px;
	transition: all 0.1s ease;

	&[data-active="true"] {
		color: var(--me-color-text-light);
		border: 1px solid var(--me-color-border-dark);
	}

	&:hover {
		color: var(--me-color-text-light);
		border: 1px solid var(--me-color-border-dark);
	}
}

.label {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}

.databox[data-active="true"] .label::after {
	content: "";
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);

	height: 2px;
	width: 75%;

	background-color: var(--me-color-logo-green);
	border-radius: 8px;
}

.value {
	font-size: 32px;
	font-weight: 600;
}

.badge {
	min-width: 36px;
	padding: 0 2px;
	border-radius: 16px;
	color: var(--me-color-text-dark);
	font-size: 10px;
	font-weight: 600;
	text-align: center;
	line-height: 20px;

	&[data-status="positive"] {
		background-color: var(--me-color-badge-positive);
	}

	&[data-status="negative"] {
		background-color: var(--me-color-badge-negative);
	}

	&[data-status="zero"] {
		background-color: var(--me-color-badge-negative);
	}
}

/* Chart Toggle */
.toggle {
	padding: 4px;
	background-color: var(--me-color-bg-dark);

	border: 1px solid var(--me-color-border-dark);
	border-radius: 26px;

	position: relative;
}

.control {
	color: var(--me-color-text-disabled);
	width: 38px;
	height: 38px;

	&[data-active="true"],
	&:hover {
		color: var(--me-color-text-light);
	}
}

.controlLabel {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 1;

	svg {
		width: 20px;
		height: 20px;
	}
}

.indicator {
	background-color: var(--me-color-logo-green);
	border-radius: 50%;
}
