.grid {
	width: 100%;
	background-color: var(--bg-grey);

	padding: 16px;
	gap: 16px;

	border-radius: 16px 16px 0 0;

	&[data-end="true"] {
		border-radius: 0 0 16px 16px;
		padding: 0 16px 16px 16px;
	}
}

.root {
	min-height: 393px;
	background-color: var(--text-light);
	border-radius: 8px;
}

.list {
	padding: 8px;
	border-bottom: 1px solid var(--border-light);
}

.tab {
	color: var(--text-disabled);
	font-size: 14px;

	&[data-active] {
		color: var(--text-dark);
		font-weight: 600;
	}
}

.more {
	width: 100%;
	padding: 8px 16px;

	a {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		border: 1px solid var(--border-light);
		border-radius: 8px;

		font-size: 14px;
		text-align: center;
	}
}

.items {
	min-height: 306px;

	&[data-empty="true"] {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
