.item {
	height: 50px;
	margin: 6px 8px;
	padding: 7px 16px;
	width: calc(100% - 16px);

	border-radius: 8px;

	cursor: pointer;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background-color: var(--me-color-bg-grey);
	}

	span {
		opacity: 0;
		transition: 0.07s;

		&[data-active="true"] {
			opacity: 1;
		}
	}
}

.bar {
	border: 1px solid var(--me-color-border-violet);
}
