@import "../../styles/_media.css";

.item {
	height: 50px;
	margin: 6px 8px;
	padding: 7px 16px;
	width: calc(100% - 16px);

	background-color: transparent;
	border: none;
	border-radius: 8px;

	cursor: pointer;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background-color: var(--bg-grey);
	}

	span {
		opacity: 0;
		transition: 0.07s;

		&[data-active="true"] {
			opacity: 1;
		}
	}
}

.bar {
	border: 1px solid var(--violet);
}

.label {
	font-size: 14px;
	text-overflow: ellipsis;
	user-select: text;
}

.percentage {
	font-size: 12px;
	color: var(--text-muted);
	margin-right: 4px;

	@media (--lt-xs) {
		display: none;
	}
}

.external {
	svg {
		margin-bottom: -2px;
		color: var(--text-muted);
		width: 17px;
		height: 17px;
	}

	&[data-hidden="true"] {
		display: none;
	}

	@media (--lt-xs) {
		display: none;
	}
}
