.tabRoot {
	background-color: var(--me-color-bg-grey);

	padding: 16px;
	border-radius: 8px;
}

.tab {
	color: var(--me-color-text-disabled);
	font-size: 14px;

	&[data-active] {
		color: var(--me-color-text-dark);
		font-weight: 600;
	}
}

.tabList {
	padding-right: 16px;
}

.listWrapper {
	background-color: var(--me-color-text-light);
	border-radius: 8px;
	width: 220px;
	padding: 12px;

	@media (--lt-lg) {
		width: 100%;
	}
}

.tableWrapper {
	background-color: var(--me-color-bg-light);
	border-radius: 8px;
	padding: 4px;
}

.tableHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 12px 12px 12px;
	border-bottom: 1px solid var(--me-color-border-light);
}

.dataHeader {
	font-size: 13px;

	th {
		padding: 10px 8px;
	}
}

.tabPanel {
	overflow-x: auto;
}

.back {
	display: flex;
	align-items: center;
	gap: 12px;

	width: 100%;
	padding: 4px 12px 12px 12px;

	color: var(--me-color-text-dark);
	font-size: 14px;
	text-decoration: none;

	border-bottom: 1px solid var(--me-color-border-light);

	&:visited {
		color: var(--me-color-text-dark);
	}

	@media (--lt-lg) {
		padding: 12px;
		gap: 4px;

		svg {
			width: 20px;
			height: 21px;
		}
	}
}

/* Pagination */
.pagination {
	justify-content: space-between;

	@media (--lt-sm) {
		justify-content: center;
	}
}
.viewspan {
	font-size: 12px;
	color: var(--me-color-text-muted);
}

.pageSize {
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 8px;

	font-size: 14px;
	font-weight: 400;
	color: var(--me-color-text-dark);

	&:disabled {
		opacity: 0.5;
		color: var(--me-color-text-disabled);
		background-color: var(--me-color-bg-light);
	}

	&[data-active="true"] {
		color: var(--me-color-text-dark);
		background-color: var(--me-color-selected-snow);
		opacity: 1;
	}

	&:not([disabled]):hover {
		background-color: var(--me-color-selected-snow);
	}
}

.pageArrow {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--me-color-bg-light);
	border: 1px solid var(--me-color-border-muted);
	border-radius: 8px;

	&:hover {
		background-color: var(--me-color-selected-snow);
	}

	&:disabled {
		opacity: 0.5;
		background-color: var(--me-color-selected-snow);
	}

	svg {
		color: var(--me-color-text-dark);
	}
}
