.grid {
	width: 100%;
	background-color: var(--me-color-bg-grey);

	padding: 16px;
	gap: 16px;

	border-radius: 16px;
}

.tab-root {
	background-color: var(--me-color-text-light);
	border-radius: 8px;
}

.tab-list {
	padding: 8px;
	border-bottom: 1px solid var(--me-color-border-grey);
}

.tab {
	color: var(--me-color-text-disabled);
	font-size: 14px;

	&[data-active] {
		color: var(--me-color-text-dark);
		font-weight: 600;
	}
}

.stat-item {
	height: 50px;
	margin: 6px 8px;
	padding: 7px 16px;

	border-radius: 8px;

	cursor: pointer;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background-color: var(--me-color-bg-grey);
	}
}

.bar {
	border: 1px solid var(--me-color-border-violet);
}

.button-wrapper {
	width: 100%;
	padding: 8px 16px;
}

.button {
	width: 100%;
	height: 40px;

	border: 1px solid var(--me-color-border-grey);
	border-radius: 8px;

	font-size: 14px;
	text-align: center;
}
