.root {
	background-color: var(--bg-grey);

	display: inline-flex;

	padding: 16px;
	border-radius: 8px;
}

.list {
	padding: 12px;
	margin-right: 16px;

	background-color: var(--text-light);
	border-radius: 8px;
}

.list-triggers {
	composes: flex from global;

	width: 192px;

	padding: 8px 0 0 0;
}

.trigger {
	composes: button from global;

	height: 34px;
	width: 100%;
	justify-content: flex-start;
	padding: 0 12px 0 16px;

	background-color: transparent;
	color: var(--text-disabled);
	border: none;

	&:hover {
		background-color: var(--black-a1);
	}

	&[data-state="active"] {
		color: var(--text-dark);
		font-weight: 600;
	}
}

.panel {
	width: 100%;
	overflow-x: auto;
}

.table-wrapper {
	background-color: var(--bg-light);
	border-radius: 8px;
	padding: 4px;
}

.table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 12px 12px 12px;
	border-bottom: 1px solid var(--border-light);

	span {
		font-weight: 600;
		padding: 3px 0;
	}
}

.data-header {
	font-size: 13px;

	th {
		padding: 10px 8px;
	}
}

.back {
	display: flex;
	align-items: center;
	gap: 12px;

	width: 100%;
	padding: 4px 12px 12px 12px;

	color: var(--text-dark);
	font-size: 14px;
	text-decoration: none;

	border-bottom: 1px solid var(--border-light);

	&:visited {
		color: var(--text-dark);
	}

	@media (--lt-lg) {
		padding: 12px;
		gap: 4px;

		svg {
			width: 20px;
			height: 21px;
		}
	}
}

/* Pagination */
.pagination {
	composes: group from global;

	padding: 12px 20px;

	@media (--lt-sm) {
		justify-content: center;
	}
}
.viewspan {
	font-size: 12px;
	color: var(--text-muted);
}

.page-size {
	composes: button button-icon from global;

	height: 30px;
	width: 30px;
	padding: 8px;
	border-radius: 8px;

	font-size: 14px;
	font-weight: 400;
	color: var(--text-dark);

	&:disabled {
		opacity: 0.5;
		color: var(--text-disabled);
		background-color: var(--bg-light);
	}

	&[data-active="true"] {
		color: var(--text-dark);
		background-color: var(--selected-snow);
		opacity: 1;
	}

	&:not([disabled]):hover {
		background-color: var(--selected-snow);
	}
}

.page-arrow {
	composes: button button-icon from global;
	padding: 5px;

	background-color: var(--bg-light);
	border: 1px solid var(--border-muted);
	border-radius: 8px;

	&:hover {
		background-color: var(--selected-snow);
	}

	&:disabled {
		opacity: 0.5;
		background-color: var(--selected-snow);
	}

	svg {
		color: var(--text-dark);
		height: inherit;
	}
}
